services:
  db:
    image: postgres:16.1
    container_name: db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=db
      - POSTGRES_USER=db
      - POSTGRES_DB=db
    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
      timeout: 5s
      interval: 5s
      retries: 10

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
     - CLUSTER_ID=GOuIMmeVQNaavVtrFtNpHA
     - KAFKA_NODE_ID=1
     - KAFKA_PROCESS_ROLES=controller,broker
     - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9091
     - KAFKA_LISTENERS=PLAINTEXT://:9090,CONTROLLER://:9091, EXTERNAL://:9092
     - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9090, EXTERNAL://kafka:9092
     - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
     - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
     - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
    volumes:
      - ./volumes/:/bitnami/kafka

  config-server:
    build:
      context: ./ConfigServer
      dockerfile: Dockerfile
    container_name: config-server
    ports:
      - "7070:7070"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f --connect-timeout 2 http://localhost:7070/actuator/health || exit 1" ]
      timeout: 10s
      interval: 5s
      retries: 5
      start_period: 30s

  eureka-server:
    build:
      context: ./EurekaServer
      dockerfile: Dockerfile
    container_name: eureka-server
    ports:
      - "6060:6060"
    depends_on:
      config-server:
        condition: service_healthy
    environment:
      - SPRING_CLOUD_CONFIG_URI=${CONFIG_URI}
    healthcheck:
      test: [ "CMD-SHELL", "curl -f --connect-timeout 2 http://localhost:6060/actuator/health || exit 1" ]
      timeout: 10s
      interval: 5s
      retries: 5
      start_period: 30s

  gateway:
    build:
      context: ./Gateway
      dockerfile: Dockerfile
    container_name: gateway
    ports:
      - "5050:5050"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
    environment:
      - SPRING_CLOUD_CONFIG_URI=${CONFIG_URI}
      - SPRING_APPLICATION_JSON={"eureka":{"client":{"service-url":{"default-zone":"${EUREKA_SERVER}"}}}}
    healthcheck:
      test: [ "CMD-SHELL", "curl -f --connect-timeout 2 http://localhost:5050/actuator/health || exit 1" ]
      timeout: 10s
      interval: 5s
      retries: 5
      start_period: 30s

  main-service:
    build:
      context: ./MainService
      dockerfile: Dockerfile
    container_name: main-service
    ports:
      - "9090:9090"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      gateway:
        condition: service_healthy
      db:
        condition: service_healthy
    environment:
      - SPRING_CLOUD_CONFIG_URI=${CONFIG_URI}
    healthcheck:
      test: [ "CMD-SHELL", "curl -f --connect-timeout 2 http://localhost:9090/actuator/health || exit 1" ]
      timeout: 10s
      interval: 5s
      retries: 5
      start_period: 30s

  notification-service:
    build:
      context: ./NotificationService
      dockerfile: Dockerfile
    container_name: notification-service
    ports:
      - "8080:8080"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      main-service:
        condition: service_healthy
      kafka:
        condition: service_healthy
    environment:
      - SPRING_CLOUD_CONFIG_URI=${CONFIG_URI}
    healthcheck:
      test: [ "CMD-SHELL", "curl -f --connect-timeout 2 http://localhost:8080/actuator/health || exit 1" ]
      timeout: 10s
      interval: 5s
      retries: 5
      start_period: 30s