server.port: 5050

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: service1-route
          uri: lb://main-service
          predicates:
            - Path=/user/**